@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "inter", san-serif;
  --color-primary: #030712;
  --color-secondary: #1f2937;
}
* {
  font-family: "inter", sans-serif;
}
